.content {
    font-family: Arial,sans-serif;
    margin:0;
    padding:0;
    background-color: white;

}

.content-header {
    background-color:#333;
    color:white;
    text-align:center;
    padding:10px;
}

.content-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    border:1px solid #ddd;
}

.content-cel, .content-item {
    border:1px solid #ddd;
    padding:8px;
    text-align:center;
}

.content-cel {
    background-color:#f2f2f2
}

.content-footer {
    background-color: #333;
    color: white;
    padding:10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.content-main {
    max-width: 80%;
    margin:20px;
    background-color: #fff;
    padding:20px;
    border-radius:5px;
    box-shadow: 0 0 5px gray;
}